.git
.github
node_modules
release
out
.DS_Store
npm-debug.log
dist-web
dist-server
media-library.db
media-library.db-shm
media-library.db-wal
tests/temp/
cache
coverage
playwright-report
test-results
.env
media
