services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DISPLAY
      - XDG_RUNTIME_DIR
      - ELECTRON_DISABLE_SANDBOX=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XDG_RUNTIME_DIR}:${XDG_RUNTIME_DIR}
      - ./:/app:cached
      - node_modules:/app/node_modules
    devices:
      - /dev/dri:/dev/dri
    network_mode: host
    ipc: host
    develop:
      watch:
        - action: rebuild
          path: package.json
        - action: rebuild
          path: package-lock.json

volumes:
  node_modules:
