services:
  electron-app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /home/builduser/app
    user: '${UID}:${GID}'
    ports:
      - '5901:5901' # VNC
      - '6080:6080' # noVNC web interface
      - '5173:5173' # Vite dev server
    environment:
      - DISPLAY=:1
      - HOME=/home/builduser

    volumes:
      - .:/home/builduser/app
      - node_modules_data:/home/builduser/app/node_modules

volumes:
  node_modules_data:
