services:
  app:
    build: .
    ports:
      - '3000:3000'
    volumes:
      - app_data:/app/data
      # Mount your media directories here.
      # You can add more mappings as needed.
      # Host path : Container path
      - ./media:/media

    environment:
      - NODE_ENV=production
      - DB_FILE_PATH=/app/data/media-library.db
      - HOME=/app
    env_file:
      - .env
    restart: unless-stopped

volumes:
  app_data:
