services:
  app:
    build: .
    ports:
      - '3000:3000'
    volumes:
      # efficient sqlite persistence
      - ./media-library.db:/app/media-library.db
      # Mount your media directories here.
      # You can add more mappings as needed.
      # Host path : Container path
      - ./media:/media
      # Add this line to persist your google-token.json
      - ./config:/app/.config/mediaplayer-app
    environment:
      - NODE_ENV=production
      # Add this line so the app knows where "Home" is
      - HOME=/app
    env_file:
      - .env
    restart: unless-stopped
