version: '3.8'

services:
  app:
    image: ghcr.io/electron/devcontainer:latest
    volumes:
      - ..:/home/builduser/app:cached
      - node_modules:/home/builduser/app/node_modules
    command: sleep infinity
    working_dir: /home/builduser/app
    user: builduser
    entrypoint: []
    ports:
      - "5901:5901"
      - "6080:6080"
    environment:
      - HOME=/home/builduser

volumes:
  node_modules:
