services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/home/builduser/app
      - node_modules_cache:/home/builduser/app/node_modules
    working_dir: /home/builduser/app

    environment:
      - DISPLAY=:1
      - HOME=/home/builduser

    ports:
      - '5901:5901' # VNC Server
      - '6080:6080' # noVNC Web Client
      - '5173:5173' # Vite Dev Server

    command: sleep infinity

volumes:
  node_modules_cache:
